<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{global.baseUrl}">
    
    <title>{head.title} | {global.appName}</title>
    <meta name="desciption" content="{head.description}">

    <!-- static assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>

    <link rel="stylesheet" href="public/app.css">
</head>
<body class="{body.class}">
    <!-- page wrapper -->
    <div class="wrapper">

        <div class="header">
            <a class="logo" href="/">
                <img src="public/logo.png" alt="logo">
            </a>
            <!-- navigation -->
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="loggedOut" href="/account/create">Signup</a>
                </li>
                <li>
                    <a class="loggedOut" href="/session/create">Login</a>
                </li>
                <li>
                    <a class="loggedIn" href="/checks/all">Dashboard</a>
                </li>
                <li>
                    <a class="loggedOut" href="/account/edit">Account settings</a>
                </li>
                <li>
                    <a class="loggedOut" href="#">Logout</a>
                </li>
            </ul>
        </div>

        <!-- page content -->
        <div class="content">
    